<li class="list-group-item fw-bold mt-3">محور التحليل
{% include nav/nav_analysis.html %}</li>
<li class="list-group-item fw-bold mt-3">محور الجبر
{% include nav/nav_algebra.html %}</li>
<li class="list-group-item fw-bold mt-3">محور الإحتمالات
{% include nav/nav_probabilities.html %}</li>
<li class="list-group-item fw-bold mt-3">محور الإحصاء
{% include nav/nav_statistics.html %}</li>
<li class="list-group-item fw-bold mt-3">محور الهندسة المستوية
{% include nav/nav_planeGeo.html %}</li>
<li class="list-group-item fw-bold mt-3">محور الهندسة في الفضاء
{% include nav/nav_solidGeo.html %}</li>
<li class="list-group-item fw-bold mt-3">إمتحانات بكالوريا سابقة مع الحلول
{% include nav/nav_BACSol.html %}</li>
