<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'conditional_probability_hub/' | relative_url }}" 
                                    class="text-decoration-none">الإحتمالات الشرطية</a></li>
    <li class="list-group-item"><a href="{{ 'combinatorics_hub/' | relative_url }}" 
                                    class="text-decoration-none">التحليل التوفيقي وأدوات العد"</a></li>
    <li class="list-group-item"><a href="{{ 'random_variables_hub/' | relative_url }}" 
                                    class="text-decoration-none">"المتغيرات العشوائية وقوانين الاحتمال"</a></li>
</ul>
