<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'pure_euclidean_pl_geo/' | relative_url }}" class="text-decoration-none">الهندسة المستوية الإقليدية الصرفة</a></li>
    <li class="list-group-item"><a href="{{ 'analytic_vectors/' | relative_url }}" class="text-decoration-none">الهندسة التحليلية في المستوي (الأشعة والمعالم)</a></li>
    <li class="list-group-item"><a href="{{ 'barycentre_plane/' | relative_url }}" class="text-decoration-none">المرجح في المستوي</a></li>
    <li class="list-group-item"><a href="{{ 'dot_product_plane/' | relative_url }}" class="text-decoration-none">الجداء السلمي في المستوي</a></li>
    <li class="list-group-item"><a href="{{ 'oriented_angles_trig/' | relative_url }}" class="text-decoration-none">الزوايا الموجهة وحساب المثلثات</a></li>
    <li class="list-group-item"><a href="{{ 'similitude_transformations/' | relative_url }}" class="text-decoration-none">التحويلات النقطية الأساسية، والتشابه المباشر في المستوي</a></li>
</ul>
