<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'from_plane_to_space_basics/' | relative_url }}" class="text-decoration-none">من المستوي الى الفضاء، مفاهيم أولية</a></li>
    <li class="list-group-item"><a href="{{ 'parallelism_and_orthogonality/' | relative_url }}" class="text-decoration-none">التوازي والتعامد الإقليدي في الفضاء</a></li>
    <li class="list-group-item"><a href="{{ 'vectors_in_space/' | relative_url }}" class="text-decoration-none">الأشعة والتوجيه في الفضاء</a></li>
    <li class="list-group-item"><a href="{{ 'analytic_geometry_and_sections/' | relative_url }}" class="text-decoration-none">الهندسة التحليلية والمقاطع المستوية للسطوح</a></li>
</ul>
