{% for el in page.elements %}

    {% include elements/basic_elements.html %}

    {% if el.activity %}
        <div class="activity-wrapper my-5 shadow-sm border rounded p-3">
            {% include activity-core.html content=el.activity %}
        </div>
    {% endif %}


    {% if el.tableSlides %}
        <div class="slider-wrapper" dir="rtl">
            <div class="slides-container">
                {% for card in el.tableSlides.cards %}
                    <div class="slide-card">
                        {% for el in card %}
                           {% include elements/basic_elements.html %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="scroll-hint">اسحب أفقياً لرؤية الموالي...</div>
        </div>
    {% endif %}
{% endfor %}












                 
