{% for el in page.elements %}

    {% include elements/elements.html %}

    {% if el.activity %}
        <div class="activity-wrapper my-5 shadow-sm border rounded p-3">
            {% include activity-core.html content=el.activity %}
        </div>
    {% endif %}


    {% if el.tableSlides %}
        <div class="slider-wrapper" dir="rtl">
            <div class="slides-container">
                {% for slide in el.tableSlides.slides %}
                    <div class="slide-card">
                        <h3 class="text-primary mt-4 mb-4">
                             {{ slide.title }}
                        </h3>
                        <div class="slide-body">
                            <p class="interpretation">{{ slide.interpretation }}</p>
                            <div class="math-formula">{{ slide.formula }}</div>
                        </div>
                    </div>
                {% endfor %}
                
                {% for el in el.tableSlides.elements %}
                    <div class="slide-card">
                        {% include elements/elements.html %}
                    </div>
                {% endfor %}
            </div>
            <div class="scroll-hint"> اسحب أفقياً لرؤية الحالات الموالية </div>
        </div>
    {% endif %}
{% endfor %}












                 
