<!DOCTYPE html>
<html lang="ar" dir="rtl" data-bs-theme="auto">
<head>
    {% if page.url == "/" or page.url == "/index.html" %}
    <link rel="canonical" href="https://interactivemathdz.github.io/Mathematics-for-Final-Grades/" />
    {% else %}
    <link rel="canonical" href="https://interactivemathdz.github.io/Mathematics-for-Final-Grades{{ page.url }}" />
    {% endif %}

    {% include analytics.html %}

    <meta charset="UTF-8">
    {% include site_version.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        /* إخفاء محتوى الصفحة حتى يكتمل التحميل */
        body { visibility: hidden; }
        /* إظهار البريلاودر فقط */
        #loader-wrapper { visibility: visible; }
    </style>

    {% include head_links.html %}
</head>
<body>
    {% include preloader.html %}
    {% include debug_header.html %}

    <div class="container my-2 py-2" style="max-width: 100%; width: 100%; box-sizing: border-box; overflow-x: hidden; unicode-bidi: isolate;">
    {{ content }}
    </div>


    {% include sidebar.html %}
    {% include footer.html %}
    {% include scripts.html %}

</body>
</html>

